.secrets
catdx_legacy/
data/
!src/data/
catdx
.devcontainer/
models/
apical4_none*/
apical4_none*/**
wandb/
__pycache__/

catdx_legacy/
!src/data/
apical4_none*/
apical4_none*/**
TODO.md
outputs/
outputs/**
fix_apical4/**
apical4_bw/**
.gitconfig
.ssh
.cache
.dotnet
.vscode-server
.bash_history
.netrc
